<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Lecteur</title>
</head>
<body>
	<iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
	<h1 th:inline="text">Les lecteurs</h1>
	<table>
		<thead>
			<tr>
				<th>Prenom</th>
				<th>Nom</th>
				<th>Modifier</th>
				<th>Supprimer</th>
			</tr>
		</thead>
		<tr th:each="lecteur : ${lecteurs}">
			<td><span th:text="${lecteur.prenom}">Prenom</span></td>
			<td><span th:text="${lecteur.nom}">Nom</span></td>
			<td>
				<form th:action="@{/majLecteurs/{path}(path=${lecteur.id})}" method="post">
					<div>
						Prenom : <input required pattern="[A-Za-z]{1,20}" name="prenom" id="prenom">
					</div>
					<div>
						Nom : <input required pattern="[A-Za-z]{1,20}" name="nom" id="nom">
					</div>
					<input type="submit" value="Modifier">
				</form>
			</td>
			<td>
				<form th:action="@{/supprimerLecteur/{path}(path=${lecteur.id})}" method="post"><input type="submit" value="Supprimer"></form>
			</td>
		</tr>
	</table>

	<h1 th:inline="text">Creer un lecteur</h1>
	<form th:action="@{/creerLecteur}" method="post" target="dummyframe">
		<div>
			Prenom : <input required pattern="[A-Za-z]{1,20}" name="prenom" id="prenom">
		</div>
		<div>
			Nom : <input required pattern="[A-Za-z]{1,20}" name="nom" id="nom">
		</div>
		<input type="submit" value="Creer" />
	</form>
	
	<a href="/home"> Retour </a>
</body>
</html>
